<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../paper-tabs/paper-tab.html">
<link rel="import" href="../core-animated-pages/core-animated-pages.html">
<link rel="import" href="../core-animated-pages/transitions/hero-transition.html">
<link rel="import" href="../core-animated-pages/transitions/cross-fade.html">
<link rel="import" href="../core-animated-pages/transitions/slide-down.html">
<link rel="import" href="../core-animated-pages/transitions/slide-up.html">
<link rel="import" href="../core-animated-pages/transitions/tile-cascade.html">

<polymer-element name="core-sidebar-tabs">

<template>
  <style>    
    #paper_tabs{
      color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 2px;
      background-color: #454545;
    }
    #core_animated_pages{
      min-height: 200px;
      /*top: 70px;*/
      background-color: rgb(238, 238, 238);
    }
  </style>
  <paper-tabs selected="0" selectedindex="0" id="paper_tabs">
  <paper-tab id="section" active>ITEM ONE</paper-tab>
  <paper-tab id="section1">ITEM TWO</paper-tab>
</paper-tabs>
<core-animated-pages selected="{{ $.paper_tabs.selected }}" selectedindex="1" notap id="core_animated_pages">
<section id="section" layout horizontal center center-justified active>
  aSDASD
</section>
<section id="section" layout horizontal center center-justified active>
  aSDASD #2
</section>
</section>
</core-animated-pages>
</template>

<script>

  Polymer({

  });

</script>

</polymer-element>